.characterEditor {
  padding: 128px 0 64px;
}

.skylineEffectbackground {
  position: fixed;
  top: 60%;
  bottom: 0;
  width: 100%;
  background: hsl(195deg, 20%, 86%);
}

.maxWidthWrapper {
  position: relative;
}

.header {
  width: 65%;
  padding: 0 0 64px;
}

.title {
  margin: 0 0 16px;

  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.description {
  margin: 0;
  font-size: 1.25rem;
}

.characterWrapper {
  position: fixed;
  top: 96px;
  bottom: 32px;
  left: 60%;
  min-height: 500px;
}

.controlColumn {
  width: 50%;
}
